<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Bug Reporter</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Bug Reporter</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

	<section>
	<form method="post" action="" id="baseForm" role="form">
  	<div class="form-group">
	<fieldset>
	<legend>Add Bug:</legend>
		<input type="hidden" name="action" value="add_bug" />

		<div>						
		<label for="bugName">Title </label>
			<input name="bugName" type="text" class="form-control" value=""/> 
			{% if message %}
    		<p class="text-danger">{{ message }}</p>
			{% endif %}
		</div>
		<br>
		<div>
		<label for="bugClass">Class </label>
		<select name="bugClass"> 
			<option value="" selected></option>
			<option value="Feature Request" >Feature Request</option>
			<option value="System Error" >System Error</option>
			<option value="Serious Bug" >Serious Bug</option>
		</select>
		</div>
		<br>
		<div>
		<label for="platform">Platform</label>
			<label class="radio-inline"><input type="radio" name="platform" value="OS X">OS X</label>
			<label class="radio-inline"><input type="radio" name="platform" value="Windows">Windows</label>
			<label class="radio-inline"><input type="radio" name="platform" value="Linux">Linux</label>
		</div>
		<br>
		<div>
		<label for="reproduce">Can it be reproduced?</label>
			<label class="checkbox-inline"><input type="checkbox" value="Yes">Yes</label>
			<label class="checkbox-inline"><input type="checkbox" value="No">No</label>
		</div>
		<br>
		<div>
		<label for="description">Description</label>
			<input type="text" class="form-control" name="description"></textarea>
		</div>
		<br>
		<input type="submit" value="Add Entry" /> 
	</fieldset>
	</div>
	</form>
	</section>

	<br>
	{% if bugs %}
	<table class="table table-striped">
		<tr>
    		<th>Bug Title</th>
    		<th>Class</th> 
    		<th>Platform</th>
    		<th>Reproducable?</th>
    		<th>Description</th>
    		<th></th>
    		<th></th>	
  		</tr>

  		{% for x in bugs %}
  		<tr>
    		<td>{{ x.name|e }}</td>
    		<td>{{ x.class|e }}</td> 
    		<td>{{ x.platform|e }}</td>
    		<td>{{ x.reproduce|e }}</td>
    		<td>{{ x.description|e }}</td>
    		<td><a href="/edit?key={{ x.key }}">Edit</a></td>
    		<td><a href="/delete?key={{ x.key }}" onclick="return confirm('Really delete?');">Delete</a></td>
  		</tr>
  		{% endfor %}
  		
	</table>

	{% endif %}

</div>
	</body>
</html>
