<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Edit Bug</title>
</head>
<body>
<h2>Edit Bug</h2>
	<br>
	<section>
	<form method="get" action="" enctype="multipart/form-data">
	<input type="hidden" name="action" value="edit_bug" />
	<input type="hidden" name="key" value="{{ bug_key }}" />
	<fieldset>
	<legend>Edit Bug:</legend>

		<div>						
		<label for="bugName">Title </label>
			<input name="bugName" type="text" maxlength="255" value="{{ bug.bugName }}"/> 
			{% if message %}
    		<font color= "red">{{ message }}</font>
			{% endif %}
		</div>
		<br>
		<div>
		<label for="bugClass">Class </label>
		<select name="bugClass"> 
		
			<option value="Feature Request" {% if bug.bugClass == "Feature Request" %} selected="selected" {% endif %}>Feature Request</option>
			<option value="System Error" {% if bug.bugClass == "System Error" %}selected="selected" {% endif %}>System Error</option>
			<option value="Serious Bug" {% if bug.bugClass == "Serious Bug" %}selected="selected" {% endif %}>Serious Bug</option>
		
		</select> 
		</div>
		<br>
		<div>
		<label for="platform">Platform</label>
			<input type="radio" name="platform" value="OS X" {% if bug.platform == "OS X" %} checked {% endif %}>OS X
			<input type="radio" name="platform" value="Windows" {% if bug.platform == "Windows" %} checked {% endif %}>Windows
			<input type="radio" name="platform" value="Linux" {% if bug.platform == "Linux" %} checked {% endif %}>Linux
		</div>
		<br>
		<div>
		<label for="reproduce">Can it be reproduced?</label>
			<input type="checkbox" name="reproduce" value="True" {% if bug.reproduce == "True" %} checked="true" {% endif %}>Yes
  			<input type="checkbox" name="reproduce" value="False" {% if bug.reproduce == "False" %} checked="true" {% endif %}>No
		</div> {{ bug.reproduce }}
		<br>
		<div>
		<label for="description">Description</label>
			<textarea name="description" form="baseForm" rows="5" cols="50">{{ bug.description }}</textarea>
		</div>
		<br>
		<input type="submit" value="Save Changes" /> 
		<button style="background-color:lightgreen"><a href="/">BACK</a></button> 
	</fieldset>
	</form>
	</section>

	</body>
</html>
