<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html; charset=UTF-8">
	<title>Bug Reporter</title>
</head>
<body>
	<h1>Bug Reporter</h1>

	<section>
	<form method="post" action="">

		<input type="hidden" name="action" value="add_bug" />

		<div>						
		<label for="bugName">Title </label>
		<input name="bugName" type="text" maxlength="255" value=""/> 
		</div>

		<div>
		<label for="bugClass">Class </label>
		<select name="bugClass"> 
			<option value="" selected="selected"></option>
			<option value="Feature Request" >Feature Request</option>
			<option value="System Error" >System Error</option>
			<option value="Serious Bug" >Serious Bug</option>
		</select>
		</div>
			    
		<input type="submit" value="Add Entry" />
	</form>
	</section>

	{% if message %}
	<section>
	<h3>Result</h3>
		<p>{{ message }}</p>
	</section>
	{% endif %}

	{% if bugName %}
	<table border="1">
		<tr>
    		<th>Bug Title</th>
    		<th>Class</th> 
    		<th>Active</th>
    		<th></th>
  		</tr>

  		
  		<tr>
    		<td>{{ bugName|e }}</td>
    		<td>{{ bugClass|e }}</td> 
    		<td>{{ active }}</td>
    		<td><a href="">Edit</a></td>
  		</tr>
  		
	</table>

{% endif %}


	</body>
</html>
